img {
  float: left;
}

.sidebar {
  width: 30%;
  float: right;
  background-color: yellow;
}

.image-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;

  p {
  cursor: pointer;
  color: #0088cc;
}

p:hover {
  text-decoration: underline;
}
}

.clickable:hover {
  text-decoration: underline;
}
